**Ejercicios de Introducción Python** 

André Haziel Sánchez González 1841825

*Inteligencia Artificial y Redes Neuronales N4*

En este codigo se le pide al usuario contestar unas preguntas, para despues concatenar las respuestas en un solo parrafo. Después de terminar el Ejercicio 2 me di cuenta que esto se puede hacer gracias a que los datos obtenidos con `input()` se considera como string y por eso lo puedes juntar con otras cadenas de caracteres.

In [ ]:
nombre= input("¿Cuál es tu nombre? ")
edad= input("¿Cuántos años tienes? ")
frase= input("Escribe una de tus frases favoritas: ")
autor= input("Escribe quien dijo o escribió esa frase: ")
a ="Tu nombre es " + nombre +". "
b= "Tienes " + edad + " años. "
c="Tu frase favorita es: " + frase + ". "
d= "Y la dijo/escribió: " + autor + ". "
print(a+b+c+d)

¿Cuál es tu nombre? André
¿Cuántos años tienes? 20
Escribe una de tus frases favoritas: Viaje antes que destino
Escribe quien dijo o escribió esa frase: Brandon Sanderson
Tu nombre es André. Tienes 20 años. Tu frase favorita es: Viaje antes que destino. Y la dijo/escribió: Brandon Sanderson.

En este siguiente ejercicio se le pide al usuario dar dos numeros enteros y dos con decimales, usando `input()`, pero como ya se mencionó anteriormente esto da un dato tipo string por lo que se uso `int()` y `float()` para cambiar el tipo de dato y que las operaciones den los resultados correctos y no solo junten los caracteres. Tambien se uso un loop `while` para impedir que el denominador en la división fuera 0 y que diera un error el codigo.

In [ ]:
n1= input("Escribe un número entero: ")
n1= int(n1)
n2= input("Escribe otro número entero diferente a 0: ")
n2= int(n2)
while n2==0:
    print("Número no valido, ingrese otro.")
    n2= input("Escribe otro número entero diferente a 0: ")
    n2= int(n2)
n3= input("Escribe un número con decimales: ") 
n3 = float(n3)
n4= input("Escribe otro número con decimales y que sea diferente a 0: ")
n4= float(n4)
while (n4==0 or n4==0.0 or n4==0.00):
    print("Número no valido, ingrese otro.")
    n4= input("Escribe otro número entero diferente a 0: ")
    n4=float(n4)

sum1 = n1 + n2
mult1= n1*n2
res1= n1-n2
div1= n1/n2
sum2 = n3+n4
mult2= n3*n4
res2= n3-n4
div2= n3/n4
print("La suma entre los numeros enteros es: ", sum1)
print("La resta entre los numeros enteros es: ", res1)
print("La multiplicación entre los numeros enteros es: ", mult1)
print("La divición entre los numeros enteros es: ", div1) 
print("La suma entre los numeros flotantes es: ", round(sum2,2))
print("La resta entre los numeros flotantes es: ", round(res2,2))
print("La multiplicación entre los numeros flotantes es: ", round(mult2,2))
print("La divición entre los numeros flotantes es: ", round(div2,2))

Escribe un número entero: 5
Escribe otro número entero diferente a 0: 5
Escribe un número con decimales: 5.5
Escribe otro número con decimales y que sea diferente a 0: 2.2
La suma entre los numeros enteros es:  10
La resta entre los numeros enteros es:  0
La multiplicación entre los numeros enteros es:  25
La divición entre los numeros enteros es:  1.0
La suma entre los numeros flotantes es:  7.7
La resta entre los numeros flotantes es:  3.3
La multiplicación entre los numeros flotantes es:  12.1
La divición entre los numeros flotantes es:  2.5

Por ultimó, se pidieron 4 numeros que se usaron en unas cuantas operaciones lógicas con los operadores and, or y not y observar el valor que lanzaban.

In [ ]:
x= int(input("Escriba un número entero: "))
y= int(input("Escriba un segundo número entero: "))
z= int(input("Escriba un tercer número entero: "))
w= int(input("Escriba un cuarto número entero: "))
print( x<w and x==y)
print( x>=z and z<=y)
print( x<w or x==y)
print( x>=z or z<=y)
print( not (x<w and x==y))
print( not (x<w or x==y))

Escriba un número entero: 5
Escriba un segundo número entero: 5
Escriba un tercer número entero: 5
Escriba un cuarto número entero: 3
False
True
True
True
True
False